{% extends 'admintemp/admin.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6 margin_bottom_30">
                           <div class="dash_blog">
                              <div class="dash_blog_inner">
                                 <div class="dash_head">
                                    <h3><span>Criminal Register Form</span></h3>
                                 </div>
                                  <form method="post" enctype="multipart/form-data">
                                      {% csrf_token %}
<!--                                  {{user_form|crispy}}-->
                                  {{criminal_form|crispy}}
<!--                                 <div class="list_cont">-->
<!--                                    <p>Today Tasks for Ronney Jack</p>-->
<!--                                 </div>-->
<!--                                 <div class="task_list_main">-->
<!--                                    <ul class="task_list">-->
<!--                                       <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>10:00 AM</strong></li>-->
<!--                                       <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>-->
<!--                                       <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>11:00 AM</strong></li>-->
<!--                                       <li><a href="#">Create new task for Dashboard</a><br><strong>10:00 AM</strong></li>-->
<!--                                       <li><a href="#">Meeting about plan for Admin Template 2018</a><br><strong>02:00 PM</strong></li>-->
<!--                                    </ul>-->
<!--                                 </div>-->
                                 <div class="read_more">
                                     <button type="submit" class="btn btn-success">Submit</button>
                                 </div>
                                      </form>
                              </div>
                           </div>
                        </div>
{% endblock %}