{% extends 'admintemp/admin.html' %}
{% block content %}
<!--<div class="col-md-6">-->
<!--                           <div class="white_shd full margin_bottom_30">-->
<!--                              <div class="full graph_head">-->
<!--                                 <div class="heading1 margin_0">-->
<!--                                    <h2>Police Station Details</h2>-->
<!--                                 </div>-->
<!--                              </div>-->
<!--                              <div class="table_section padding_infor_info">-->
<!--                                 <div class="table-responsive-sm">-->
<!--                                    <table class="table">-->
<!--                                       <thead class="thead-dark">-->
<!--                                          <tr>-->
<!--                                             <th>Station name</th>-->
<!--                                             <th>Address</th>-->
<!--                                              <th>Pin Code</th>-->
<!--                                              <th>State</th>-->
<!--                                              <th>Country</th>-->
<!--                                              <th>Phone Number</th>-->
<!--                                             <th>Email</th>-->
<!--                                          </tr>-->
<!--                                       </thead>-->
<!--                                        {% for i in data %}-->
<!--                                       <tbody>-->
<!--                                          <tr>-->
<!--                                             <td>{{ i.station_name }}</td>-->
<!--                                             <td>{{ i.address }}</td>-->
<!--                                             <td>{{ i.pin_code }}</td>-->
<!--                                              <td>{{ i.state }}</td>-->
<!--                                              <td>{{ i.country }}</td>-->
<!--                                              <td>{{ i.phone_number }}</td>-->
<!--                                              <td>{{ i.email }}</td>-->
<!--                                          </tr>-->
<!--                                          <tr>-->
<!--                                             <td>Mary</td>-->
<!--                                             <td>Moe</td>-->
<!--                                             <td>mary@example.com</td>-->
<!--                                          </tr>-->
<!--                                          <tr>-->
<!--                                             <td>July</td>-->
<!--                                             <td>Dooley</td>-->
<!--                                             <td>july@example.com</td>-->
<!--                                          </tr>-->
<!--                                       </tbody>-->
<!--                                        {% endfor %}-->
<!--                                    </table>-->
<!--                                    <table class="table">-->
<!--                                       <thead class="thead-light">-->
<!--                                          <tr>-->
<!--                                             <th>Firstname</th>-->
<!--                                             <th>Lastname</th>-->
<!--                                             <th>Email</th>-->
<!--                                          </tr>-->
<!--                                       </thead>-->
<!--                                       <tbody>-->
<!--                                          <tr>-->
<!--                                             <td>John</td>-->
<!--                                             <td>Doe</td>-->
<!--                                             <td>john@example.com</td>-->
<!--                                          </tr>-->
<!--                                          <tr>-->
<!--                                             <td>Mary</td>-->
<!--                                             <td>Moe</td>-->
<!--                                             <td>mary@example.com</td>-->
<!--                                          </tr>-->
<!--                                          <tr>-->
<!--                                             <td>July</td>-->
<!--                                             <td>Dooley</td>-->
<!--                                             <td>july@example.com</td>-->
<!--                                          </tr>-->
<!--                                       </tbody>-->
<!--                                    </table>-->
<!--                                 </div>-->
<!--                              </div>-->
<!--                           </div>-->
<!--                        </div>-->


   <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2><b>Public Complaints</b></h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table">
                                       <thead>

                                          <tr>
                                              <th><b><i>Name</i></b></th>
                                              <th><b><i>Complaint Message</i></b></th>
                                             <th><b><i>Date</i></b></th>
<!--                                             <th><b><i>Country</i></b></th>-->
<!--                                             <th><b><i>Phone Number</i></b></th>-->
<!--                                             <th><b><i>Email</i></b></th>-->
                                              <th><b><i>Police Reply</i></b></th>
<!--                                              <th></th>-->
<!--                                              <th></th>-->


                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for i in u %}
                                          <tr>
                                              <td>{{ i.user }}</td>
                                              <td>{{ i.complaint_msg }}</td>
                                              <td>{{ i.date }}</td>
<!--                                              <td>{{ i.country }}</td>-->
<!--                                              <td>{{ i.phone_number }}</td>-->
<!--                                              <td>{{ i.email }}</td>-->
<!--                                               <td><a class="btn cur-p btn-success" href="{% url 'updatecriminal' i.id %}">Approve</a></td>-->
<!--                                              <td><a class="btn cur-p btn-danger" href="{% url 'removecriminal' i.id %}">Reject</a></td>-->
                                              <td>
                                                  {% if i.reply == None %}
                                                  <p> No reply yet...</p>
                                                  {% else %}
                                                  {{i.reply}}
                                                  {% endif %}
                                              </td>

                                          </tr>
                                       </tbody>
                                        {% endfor %}
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>



{% endblock %}
